.footer {
	background: #aaa;
	grid-area: footer;
	color: white;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
		"link1 link2 link3";
}
.footer a {
	font-weight: 100;
	color: white;
	text-decoration: none;
}
.footer a:hover {
	color: rgba(255, 255, 255, .8);
}
.link1 {
	grid-area: link1;
	justify-self: right;
	align-self: center;
}
.link2 {
	grid-area: link2;
	justify-self: center;
	align-self: center;
}
.link3 {
	grid-area: link3;
	justify-self: left;
	align-self: center;
}