.grid {
	display: grid;
	grid-template-columns: 1fr 250px;
	grid-template-rows: calc(100vh - 100px) 1fr 100px;
	grid-template-areas:
		"hero sidebar"
		"columns sidebar"
		"footer footer";
}
.hero {
	background-image: url(hero-image.jpg);
	background-size: cover;
	color: white;
	text-align: center;
	grid-area: hero;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"content";
}
.hero .content {
	width: 50%;
	margin: 0 auto;
	line-height: 30px;
	grid-area: content;
	align-self: center;
}
.hero .content p {
	font-size: 20px;
	font-weight: 100;
}
.hero .content .extra {
	width: 80%;
	margin: 0 auto;
	font-size: 16px;
}
.columns {
	text-align: center;
	width: 80%;
	margin: 50px auto 200px;
	grid-area: columns;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	grid-column-gap: 100px;
	grid-template-areas:
		"title title title"
		"responsive nesting gutters";
}
.columns h1 {
	grid-area: title;
}
.responsive {
	grid-area: responsive;
}
.nesting {
	grid-area: nesting;
}
.gutters {
	grid-area: gutters;
}
.learn-more {
	display: inline-block;
	background: #ff4a3d;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 100;
	margin-top: 10px;
	padding: 10px 15px;
	letter-spacing: 1px;
	font-size: 12px;
}
.learn-more:hover {
	background: rgba(255, 74, 61, .8);
}
.sidebar {
	grid-area: sidebar;
	font-weight: 100;
	background: #ddd;
	text-align: center;
}
@media only screen and (max-width: 920px) {
	.columns {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 2fr 2fr;
		grid-row-gap: 40px;
		grid-template-areas:
			"title"
			"responsive"
			"nesting"
			"gutters";
	}
	.hero .content p {
		font-size: 16px;
	}
	.hero .content .extra {
		font-size: 12px;
		width: 100%;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 700px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-areas:
			"hero"
			"columns"
			"footer";
	}
	.sidebar {
		display: none;
	}
}
@media only screen and (max-width: 450px) {
	.grid {
		grid-template-rows: .5fr 1fr 100px;
	}
}