.grid {
	box-sizing: border-box;
	width: 80%;
	border: 5px solid black;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"box1 box7 box2 box8"
		"box9 box3 box10 box4"
		"box5 box11 box6 box12";
}

.item {
	box-sizing: border-box;
	width: 100%;
	padding: 20px 10%;
	border: 5px solid black;
}

.box1 {
	grid-area: box1;
}
.box2 {
	grid-area: box2;
}
.box3 {
	grid-area: box3;
}
.box4 {
	grid-area: box4;
}
.box5 {
	grid-area: box5;
}
.box6 {
	grid-area: box6;
}
.box7 {
	grid-area: box7;
	background: #ff4a3d;
}
.box8 {
	grid-area: box8;
	background: #ff9c32;
}
.box9 {
	grid-area: box9;
	background: #ffe83a;
}
.box10 {
	grid-area: box10;
	background: #62d657;
}
.box11 {
	grid-area: box11;
	background: #5c91ed;
}
.box12 {
	grid-area: box12;
	background: #9963cc;
}
@media only screen and (max-width: 1400px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"box1 box7 box2"
			"box8 box3 box9"
			"box4 box10 box5"
			"box11 box6 box12";
	}
}

@media only screen and (max-width: 1000px) {
	.grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"box1 box7"
			"box8 box2"
			"box3 box9"
			"box10 box4"
			"box5 box11"
			"box12 box6";
	}
}

@media only screen and (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"box1"
			"box2"
			"box3"
			"box4"
			"box5"
			"box6";
	}
	.box7, .box8, .box9, .box10, .box11, .box12 {
		display: none;
	}
}